.Company-div{
    margin: 1em 15%;
    width: 70vw;
    border: 1px black solid;
    border-radius: 10px;

}

.Company-jobs-cards{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Company-jobs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.Company-job{
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    width: 400px;
    display: inline-block;
}

