.NavBar-nav{
    background-color: #fff;
    padding: 1em 15%;

}

.NavBar-nav > a{
    background-color: rgb(245, 225, 245);
    margin-left: 2%;
    margin: 0 2%
}

/* Picks the links that is not first child of Nav. */
.NavBar-routes *:not(:first-child) {
    background-color: rgb(245, 225, 245);
    margin: 0 2%
}