.Login-container{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
/* for potential right side signup form */
/* .signup{
    flex:1;
    padding: 1rem;
    border-left: slateblue 5px double;
} */

.login{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
}

.login input {
 border: solid 1px black;
 height:1.2em;
 background: none;
 outline: none;
 border-radius: 5px;
 padding: .5em;
 margin: 0.5em;
}

/* Maake label float up when input is focused. Ref :https://codepen.io/joyce-w/pen/JjNMNBK */
/* .login label {
    position: absolute;
    transform: translateY(0%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
} */
.Login-button{
    margin: 0.5em;
    height:2em;
    background: #0a66c2;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 17px;
}